<p>
    <mat-toolbar class="flex items-center justify-between" color="primary">
        <div>
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button> -->
            <span>Recipe Sharing</span>
        </div>
        <div>
            <span class="example-spacer"></span>

            <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button> -->

            {{user.fullName}}
            <button mat-button (click)="handlelogout()">
                <span class="material-icons">logout</span>
        </button>
        </div>
    </mat-toolbar>
</p>